{% extends config['STORMPATH_BASE_TEMPLATE'] %}

{% block title %}Welcome!{% endblock %}
{% block description %}Welcome!{% endblock %}
{% block bodytag %}login{% endblock %}

{% block body %}
  <div class="container custom-container">
    <div class="va-wrapper">
      <div class="view login-view container">
        <div class="box row">
          <div class="email-password-area col-xs-12 large col-sm-12">
            <div class="header">
              <span>Thank you for registering!</span>
            </div>
            <p>
              You need to verify your email address before you can log in.
              Please check your inbox and follow the instructions in the
              verification email to continue.
            </p>
            <p>
              Once you've verified your email address, you should be able
              to proceed to the <a href="{{ url_for('public.index') }}"> home </a> page.
            </p>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="alert alert-danger bad-login">
                  {% for message in messages %}
                    {{ message }}
                  {% endfor %}
                </div>
              {% endif %}
            {% endwith %}
          </div>
        </div>
        {% if config['STORMPATH_ENABLE_LOGIN'] %}
          <a class="forgot" href="{{ url_for('stormpath.login') }}">Back to Log In</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
